[submodule "tracks/bash"]
	path = tracks/bash
	url = https://github.com/exercism/bash
[submodule "tracks/c"]
	path = tracks/c
	url = https://github.com/exercism/c
[submodule "tracks/ceylon"]
	path = tracks/ceylon
	url = https://github.com/exercism/ceylon
[submodule "tracks/clojure"]
	path = tracks/clojure
	url = https://github.com/exercism/clojure
[submodule "tracks/coffeescript"]
	path = tracks/coffeescript
	url = https://github.com/exercism/coffeescript
[submodule "tracks/coldfusion"]
	path = tracks/coldfusion
	url = https://github.com/exercism/coldfusion
[submodule "tracks/coq"]
	path = tracks/coq
	url = https://github.com/exercism/coq
[submodule "tracks/cpp"]
	path = tracks/cpp
	url = https://github.com/exercism/cpp
[submodule "tracks/crystal"]
	path = tracks/crystal
	url = https://github.com/exercism/crystal
[submodule "tracks/csharp"]
	path = tracks/csharp
	url = https://github.com/exercism/csharp
[submodule "tracks/d"]
	path = tracks/d
	url = https://github.com/exercism/d
[submodule "tracks/dart"]
	path = tracks/dart
	url = https://github.com/exercism/dart
[submodule "tracks/delphi"]
	path = tracks/delphi
	url = https://github.com/exercism/delphi
[submodule "tracks/ecmascript"]
	path = tracks/ecmascript
	url = https://github.com/exercism/ecmascript
[submodule "tracks/elisp"]
	path = tracks/elisp
	url = https://github.com/exercism/elisp
[submodule "tracks/elixir"]
	path = tracks/elixir
	url = https://github.com/exercism/elixir
[submodule "tracks/elm"]
	path = tracks/elm
	url = https://github.com/exercism/elm
[submodule "tracks/erlang"]
	path = tracks/erlang
	url = https://github.com/exercism/erlang
[submodule "tracks/factor"]
	path = tracks/factor
	url = https://github.com/exercism/factor
[submodule "tracks/fortran"]
	path = tracks/fortran
	url = https://github.com/exercism/fortran
[submodule "tracks/fsharp"]
	path = tracks/fsharp
	url = https://github.com/exercism/fsharp
[submodule "tracks/go"]
	path = tracks/go
	url = https://github.com/exercism/go
[submodule "tracks/groovy"]
	path = tracks/groovy
	url = https://github.com/exercism/groovy
[submodule "tracks/haskell"]
	path = tracks/haskell
	url = https://github.com/exercism/haskell
[submodule "tracks/haxe"]
	path = tracks/haxe
	url = https://github.com/exercism/haxe
[submodule "tracks/idris"]
	path = tracks/idris
	url = https://github.com/exercism/idris
[submodule "tracks/java"]
	path = tracks/java
	url = https://github.com/exercism/java
[submodule "tracks/javascript"]
	path = tracks/javascript
	url = https://github.com/exercism/javascript
[submodule "tracks/julia"]
	path = tracks/julia
	url = https://github.com/exercism/julia
[submodule "tracks/kotlin"]
	path = tracks/kotlin
	url = https://github.com/exercism/kotlin
[submodule "tracks/lfe"]
	path = tracks/lfe
	url = https://github.com/exercism/lfe
[submodule "tracks/lisp"]
	path = tracks/lisp
	url = https://github.com/exercism/lisp
[submodule "tracks/lua"]
	path = tracks/lua
	url = https://github.com/exercism/lua
[submodule "tracks/mips"]
	path = tracks/mips
	url = https://github.com/exercism/mips
[submodule "tracks/nim"]
	path = tracks/nim
	url = https://github.com/exercism/nim
[submodule "tracks/objective-c"]
	path = tracks/objective-c
	url = https://github.com/exercism/objective-c
[submodule "tracks/ocaml"]
	path = tracks/ocaml
	url = https://github.com/exercism/ocaml
[submodule "tracks/perl5"]
	path = tracks/perl5
	url = https://github.com/exercism/perl5
[submodule "tracks/perl6"]
	path = tracks/perl6
	url = https://github.com/exercism/perl6
[submodule "tracks/php"]
	path = tracks/php
	url = https://github.com/exercism/php
[submodule "tracks/plsql"]
	path = tracks/plsql
	url = https://github.com/exercism/plsql
[submodule "tracks/pony"]
	path = tracks/pony
	url = https://github.com/exercism/pony
[submodule "tracks/powershell"]
	path = tracks/powershell
	url = https://github.com/exercism/powershell
[submodule "tracks/prolog"]
	path = tracks/prolog
	url = https://github.com/exercism/prolog
[submodule "tracks/purescript"]
	path = tracks/purescript
	url = https://github.com/exercism/purescript
[submodule "tracks/python"]
	path = tracks/python
	url = https://github.com/exercism/python
[submodule "tracks/r"]
	path = tracks/r
	url = https://github.com/exercism/r
[submodule "tracks/racket"]
	path = tracks/racket
	url = https://github.com/exercism/racket
[submodule "tracks/ruby"]
	path = tracks/ruby
	url = https://github.com/exercism/ruby
[submodule "tracks/rust"]
	path = tracks/rust
	url = https://github.com/exercism/rust
[submodule "tracks/scala"]
	path = tracks/scala
	url = https://github.com/exercism/scala
[submodule "tracks/scheme"]
	path = tracks/scheme
	url = https://github.com/exercism/scheme
[submodule "tracks/sml"]
	path = tracks/sml
	url = https://github.com/exercism/sml
[submodule "tracks/swift"]
	path = tracks/swift
	url = https://github.com/exercism/swift
[submodule "tracks/typescript"]
	path = tracks/typescript
	url = https://github.com/exercism/typescript
[submodule "tracks/vbnet"]
	path = tracks/vbnet
	url = https://github.com/exercism/vbnet
[submodule "tracks/vimscript"]
	path = tracks/vimscript
	url = https://github.com/exercism/vimscript
[submodule "problem-specifications"]
	path = problem-specifications
	url = https://github.com/exercism/problem-specifications
